<!DOCTYPE html>
{% load static %}
<html lang="eng">
    <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} Default title{% endblock title %} </title>
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
        {% block corecss %}
            <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
        {% endblock corecss %}
    </head>
<body>
    <h4>First approach to use hyperlink inside base.html page:</h4>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cor/learndj">Django Course</a></li>
        </ul>
    </nav>
    <hr />
    <h4>Third approach to use hyperlink inside base.html page:</h4>
    <nav>
        <ul>
            <!-- <li><a href="/">Home</a></li> !-->
            <li><a href="{% url 'aboutus' %}">About</a></li>
            <li><a href="{% url 'courseone' %}">Django Course</a></li>
        </ul>
    </nav>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>

<i class="fa fa-eye" aria-hidden="true"></i>
<hr />

{% block content %} {% endblock content %} 

<script src="{% static 'core/js/bootstrap.js' %}"></script>
<script src="{% static 'core/js/jquery.js' %}"></script>
<script src="{% static 'core/js/proper.js' %}"></script>
<script src="{% static 'core/js/all.min.js' %}"></script>

</body>
</html>
